<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<div class="container text-center">
    <br>
    <h1>Password Generator</h1>
    <br>
    <form action="password">
        <select name="length">
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12" selected="selected">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
        </select> Length
        <br>

        <input type="checkbox" name="uppercase">Include Uppercase letters
        <br>

        <input type="checkbox" name="numbers">Include Numbers
        <br>

        <input type="checkbox" name="special">Include Special characters
        <br>

        <input type="submit" value="Generate Password" class="btn btn-primary">

    </form>
</div>
<br>
<br>
<div class="container text-center">
    <a href="{% url 'about' %}">About Developer</a>
</div>