<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">


<div class ="container text-center">
<h1>Your password is:</h1>

<h2 class="alert alert-success">{{ password }}</h2>

<a href="{% url 'home' %}" class="btn btn-warning">Home</a>

</div>